.info__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f2f5;
}

.info__content__title {
  text-align: center;
  padding-top: 3rem;
}

.info__content__body .text-wrap {
  overflow-wrap: normal;
  overflow-wrap: break-word;
  overflow-wrap: anywhere;
}

/* ======== TABS =======*/
.tab {
  list-style-type: none;
  display: flex;
  margin-bottom: 5px;
  padding-left: 0;
}

.btn-edit {
  background-color: #e4e6eb;
}

.btn-edit:hover {
  background-color: #d8dadf;
}

.circle {
  width: 36px;
  height: 36px;
}

/* ============= EDIT AVATAR ========== */
.change_avatar {
  position: fixed;
  background: rgba(244, 244, 244, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9;
  overflow: auto;
}

.change_avatar form {
  max-width: 703px;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  margin: 150px auto;
}

.change_avatar .avatar img {
  object-fit: cover;
  height: inherit;
}

.edit-avatar {
  width: 168px;
  margin: 0 auto;
}

.block-avatar {
  overflow: hidden;
  width: 168px;
  height: 168px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-avatar > button {
  position: absolute;
  right: 10px;
  bottom: 0;
}

.edit-avatar .block-avatar img {
  height: inherit;
  object-fit: cover;
}

.avatar input[type='file'] {
  display: none;
}

.avatar label {
  background-color: #e7f3ff;
  margin: 0 auto;
  color: #4894f5;
  width: 304px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
}

.avatar label:hover {
  background-color: #dbe7f2;
  color: #5798e9;
}

.edit-avatar label {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: #e4e6eb;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 15px;
  right: 5px;
  cursor: pointer;
}

/* ============= EDIT PROFILE ========== */
.edit_profile {
  position: fixed;
  background: rgba(244, 244, 244, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9;
}

.edit_profile form {
  max-width: 500px;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  margin: 200px auto;
}

.info_avatar label {
  width: 100%;
}

/* ============= FOLLOW ========== */
.follow {
  position: fixed;
  top: 0;
  background: #0008;
  left: 0;
  width: 100%;
  z-index: 4;
  height: 100vh;
}

.follow_block {
  width: 500px;
  height: 400px;
  border-radius: 0.3rem;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
}

.follow_block ul li:hover {
  background-color: #d8dadf;
}

/* ============= SAVED TAB ========== */
.tab div.active {
  border-bottom: 3px solid #0d6efd;
}

.tab div.active li {
  color: #0d6efd;
}
